h1 {
  color: blue;
  font-size: 30px;
}
p {
  color: orange;
  font-size: 20px;
}
body {
  background-color: white;
}
img{
  position: fixed;right: 10px;top: 150px;
}
a{
  color: blue;
  font-size: 20px;
}
